{% extends 'forpatient.html' %}
{% block content %}
   {% if patient %}
       <div class="container">
           <div class="row mt_130">
               <div class="col-md-12">
                   <div class="card">
                       <div class="card-header">
                           <h3>Patient</h3>
                       </div>
                       <div class="card-body">
                           <div class="table table-hover table-responsive">
                               <table>
                                   <thead>
                                   <tr>
                                       <th>First name</th>
                                       <th>Last name</th>
                                       <th>Email</th>
                                       <th>Phone</th>
                                       <th>Address</th>
                                       <th>Gender</th>
                                       <th>Blood-group</th>
                                       <th>Marital status</th>
                                       <th>Genotype</th>
                                       <th>Next of kin</th>
                                       <th>Occupation</th>
                                       <th>Action</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr>
                                       <td>{{ patient.user_first_name }}</td>
                                       <td>{{ patient.user_last_name }}</td>
                                       <td>{{ patient.user_email }}</td>
                                       <td>{{ patient.phone }}</td>
                                       <td>{{ patient.address }}</td>
                                       <td>{{ patient.gender }}</td>
                                       <td>{{ patient.blood_group }}</td>
                                       <td>{{ patient.marital_status }}</td>
                                       <td>{{ patient.genotype }}</td>
                                       <td>{{ patient.next_of_kin }}</td>
                                       <td>{{ patient.occupation }}</td>
                                       <td>
                                           <div class="btn-group">
                                               <a href="{% url 'details' patient.id %}"
                                                  class="btn btn-success">Details</a>
                                               <a href="{% url 'edit_patient_for_staff' patient.id %}"
                                                  class="btn btn-success">Edit</a>
                                           </div>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    {% endif %}
{% endblock %}
