{% extends 'forstaff.html' %}
{% block content %}
    <div class="mt-5 mx-5 my-3">
        <div class="table table-hover table-responsive">
            <table>
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Staff ID</th>
                    <th>Job title</th>
                    <th>Year of employment</th>
                    <th>Level</th>
                    <th>Date of birth</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Staff Number</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% for staff in staffs %}
                    <tbody>
                    <tr>
                        <td>{{ staff.user_first_name }}</td>
                        <td>{{ staff.user_last_name }}</td>
                        <td>{{ staff.staff_id }}</td>
                        <td>{{ staff.job_title }}</td>
                        <td>{{ staff.year_of_employment }}</td>
                        <td>{{ staff.level }}</td>
                        <td>{{ staff.date_of_birth }}</td>
                        <td>{{ staff.user_email }}</td>
                        <td>{{ staff.address }}</td>
                        <td>{{ staff.staff_number }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'edit staff' staff.id %}">Edit</a>
                            <a class="btn btn-success" href="">Details</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
