{% extends 'fordoctor.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Medical record</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'create_medical_record' %}" method="POST">
                        {% if saved is False %}
                            <script>
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Sorry',
                                    text: 'An error occurred while trying to save the medical record'
                                });
                            </script>
                        {% elif saved is True %}
                            <script>
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Congratulations!',
                                    text: ' Successfully Saved medical record'
                                });
                            </script>
                        {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="doctor_id" class="form-check-label">Doctor</label>
                                <select name="doctor_id" class="form-control" id="doctor_id" type="text">
                                    {% for d in doctor %}
                                        <option label="{{ d.text }}" value="{{ d.id }}">{{ d.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="patient_id" class="form-check-label">Patient</label>
                                <select name="patient_id" class="form-control" id="patient_id" type="text">
                                    {% for p in patient %}
                                        <option label="{{ p.text }}" value="{{ p.id }}">{{ p.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="diagnosis" class="form-check-label">Diagnosis</label>
                                    <input name="diagnosis" class="form-control" type="text" id="diagnosis"
                                           value="{{ medical_record.diagnosis }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="med_id" class="form-check-label">Medical Reference</label>
                                    <input name="med_id" class="form-control" type="text"
                                           id="med_id" value="{{ med_id }}" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="test_required" class="form-check-label">Test required</label>
                                    <input name="test_required" class="form-control" type="text" id="test_required"
                                           value="{{ medical_record.test_required }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="med_number" class="form-check-label">Med number</label>
                                    <input name="med_number" class="form-control" type="text" id="med_number"
                                           value="{{ med_number }}" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="treatments" class="form-check-label">Treatment</label>
                                    <input name="treatments" class="form-control" type="text" id="treatments"
                                           value="{{ medical_record.treatments }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="medications" class="form-check-label">Medication</label>
                                    <input name="medications" class="form-control" type="text" id="medications"
                                           value="{{ medical_record.medication }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="appointment_history" class="form-check-label">Appointment
                                        history</label>
                                    <input name="appointment_history" class="form-control" type="text"
                                           id="appointment_history" value="{{ medical_record.appointment_history }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="updated_date" class="form-check-label">Updated date</label>
                                    <input name="updated_date" class="form-control" id="updated_date"
                                           value="{{ medical_record.updated_date }}" type="date">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}